<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img src="./img/robot.png" class="portrait" alt="No Image Found">
    </div>

    {{>footer}}
</body>
</html>